{% extends "index.html" %}
{% block title %} Choose file {% endblock %}

{% block content %}
<div class="main-block">
    <br>
    <h1>Загрузите .xls файл и получите мгновенный отчёт</h1>
    <br>
    <form class="file-form row" method="POST" action="/current_table" enctype="multipart/form-data">
        <div class="col custom-file">
            <input type="file" name="file" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Выберите xlsx файл</label>
            <div class="invalid-feedback" >Не выбран нужный файл</div>
        </div>
        <br><br>
        <div class="btn-filter col form-btn">
            <button  class="btn btn-outline-danger" type="submit">Подтвердить</button>
        </div>

    </form>

    <form class="file-form row" method="POST" action="/current_table_from_ats">
        <div style="float:right">
            <button  class="btn btn-outline-secondary" type="submit">Получить данные из АТС</button>
        </div>
    </form>

    
    {% block tables %}
    {% endblock %}


</div>
{% endblock %}